{% extends 'wrapper.html' %}
{% load static %}
{% block title %}al Wasila - О нас{% endblock %}
{% block keywords %}al Wasila - О нас{% endblock %}
{% block description %}al Wasila - О нас{% endblock %}
{% block content %}
    <!-- Page Wrap -->
    <div id="wrap">
      <div id="main-wrapper">
        {% include 'header.html' %}

       <section class="sub-banner">
          <div class="container">
            <div class="position-center-center">
              <h2>О компании</h2>

            </div>
          </div>
        </section>

         <!--======= ABOUT SECTION =========-->
        <section class="sectoion-100px about">
          <div class="container">
            <!-- Tittle -->
            <div class="tittle">
              <h4>Информация о нашей компании</h4>
              <p>Компания ООО «AL WASILA» — связующее звено между крупными мировыми производителями химической продукции и значимыми отечественными и зарубежными компаниями горнодобывающей, сельскохозяйственной, нефтегазовой, строительной и других отраслей. Мы работаем с лучшими поставщиками на самых выгодных условиях, которые рады предложить своим клиентам!</p>
            </div>
            <ul class="row">
              <li class="col-sm-4"> <img class="img-responsive" src="{% static 'images/who_we_are.jpg' %}" alt="" >
                <h6 class="margin-top-20">Кто мы</h6>
                  <p>Мы работаем с лучшими поставщиками на самых выгодных условиях, которые рады предложить своим клиентам!</p>
              </li>
              <li class="col-sm-4"> <img class="img-responsive" src="{% static 'images/our_mission.jpg' %}" alt="" >
                <h6 class="margin-top-20">Наша миссия</h6>
                  <p>Быть надежным торгово-промышленным лидером в сфере химической отрасли и защите растений. основываясь на принципах – честности, постоянного роста, лучшего качества, оперативности, адаптивности, широкого ассортимента и профессионализма</p>
              </li>
              <li class="col-sm-4"> <img class="img-responsive" src="{% static 'images/our_vision.jpg' %}" alt="" >
                <h6 class="margin-top-20">Наше видение</h6>
                <p>В своей работе мы делаем ставку на надежность, непревзойденное качество поставляемой продукции, доставку точно в срок и долгосрочное сотрудничество.</p>
              </li>
            </ul>
              <div class="tittle">
                  <br>
                <p>В своей работе мы делаем ставку на надежность, непревзойденное качество поставляемой продукции, доставку точно в срок и долгосрочное сотрудничество. Мы гордимся своей репутацией, стабильностью и способностью выполнять все взятые на себя обязательства. Именно эти качества позволяют нам сотрудничать с крупнейшими компаниями многие годы.</p>
                <p>Одним из преимуществ компании ООО «AL WASILA» является ее коллектив и прогрессивный менеджмент. В основе стабильной работы лежит принцип командного взаимодействия. Большая и дружная команда единомышленников – вот залог предоставления качественных услуг, отвечающих всем требованиям современного рынка!</p>
                <p>Вся продукция, которую вы приобретаете у нас, сертифицирована, поэтому вы можете быть полностью уверены в ее качестве. Имея собственный склад в г.Самарканд, мы обеспечиваем максимально быструю доставку. Вы получите свой товар сразу после заключения договора. Если же по какой-то причине товара нет на нашем складе, мы свяжемся с одним из 200 партнеров-производителей, и ваш заказ будет отправлен прямиком к вам. Мы оперативно доставляем химическую продукцию в любую точку Узбекистана.</p>
                <p>Для тех партнеров, которые хотят убедиться в качестве поставляемой продукции, не затрачивая лишних средств, мы предлагаем возможность заказа пробной партии химической продукции, имеющейся у нас на складе. Вы сможете на деле убедиться в том, что вся наша продукция соответствует Сертификатам качества.</p>
              </div>
          </div>
        </section>
        {% comment %}
        <!--======= Parallax Section =========-->
        <section class="sectoion-150px parallax-bg" style="background: url(images/bg/bg-2.jpg) center center fixed no-repeat;">
          <div class="container">
            <h4>see how we work to create everything unique</h4>
            <a href="about.html#." class="play-btn"><i class="ion-play"></i> </a> </div>
        </section>


        <!--======= Team Member Section =========-->
        <section class="team sectoion-100px">
          <div class="container">

            <!-- Tittle -->
            <div class="tittle">
              <h4>our awesome minds</h4>
              <p>He's a demon on wheels. The mate was a mighty sailin' man the Skipper brave and sure. Five passengers set sail that day for a three hour tour a three hour tour the ship set ground on the shore of this uncharted</p>
            </div>

            <!-- Row -->
            <ul class="row">

              <!-- Team -->
              <li class="col-md-4">
                <article> <img class="img-responsive" src="images/team-1.jpg" alt="">
                  <div class="team-name">
                    <h6>Daniel Pasternak</h6>
                    <span>Web designer</span> </div>
                </article>
              </li>

              <!-- Team -->
              <li class="col-md-4">
                <article> <img class="img-responsive" src="images/team-2.jpg" alt="">
                  <div class="team-name">
                    <h6>TOM BURLY</h6>
                    <span>Developer </span> </div>
                </article>
              </li>

              <!-- Team -->
              <li class="col-md-4">
                <article> <img class="img-responsive" src="images/team-3.jpg" alt="">
                  <div class="team-name">
                    <h6>MICHAEL BRADLEY</h6>
                    <span>Designer</span> </div>
                </article>
              </li>
            </ul>
          </div>
        </section>
          {% endcomment %}

        <!--======= Clients-logo =========-->
        <section class="sectoion-100px promo">
          <div class="container">
            <div class="position-center-center">
              <h5>Хотите связаться с нами?</h5>
              <a href="{% url 'mainapp:plug' %}" class="btn">Связаться</a> </div>
          </div>
        </section>

        <!--======= FOOTER UP =========-->
        {% include 'footer.html' %}
      </div>
    </div>
    <!-- Wrap End -->
{% endblock %}