{% extends 'wrapper.html' %}
{% load static %}
{% block title %}al Wasila - Каталог{% endblock %}
{% block keywords %}al Wasila{% endblock %}
{% block description %}أل وسيلة - al Wasila 2022{% endblock %}
{% block content %}
<!-- Page Wrap -->
<div id="wrap">
  <div id="main-wrapper">
    {% include 'header.html' %}
    <!--======= SUB BANNER =========-->
   <section class="sub-banner">
      <div class="container">
        <div class="position-center-center">
          <h2>Каталог продукции</h2>
        </div>
      </div>
    </section>

     <!--======= PORTFOLIO =========-->
    <section class="sectoion-100px portfolio">
      <div class="container">
        <ul class="port-folio-row no-margin-t folio-simple row col-3">
            {% for product in products %}
                  <!-- Project 1 -->
                    <li class="item padding-15">
                    <img src="{{ product.img.url }}" alt="">
                      <!-- Hover Info -->
                    <h6>{{ product.name }}</h6>
                  </li>
            {% endfor %}
        </ul>

        {% comment %}
        <div class="text-center">
            <a href="portfolio-2.html#." class="btn"> see more works</a>
        </div>
        {% endcomment %}
      </div>
    </section>

    <!--======= FOOTER UP =========-->
    {% include 'footer.html' %}
  </div>
</div>
<!-- Wrap End -->
{% endblock %}