{% extends 'wrapper.html' %}
{% load static %}
{% block title %}al Wasila - Каталог{% endblock %}
{% block keywords %}al Wasila{% endblock %}
{% block description %}أل وسيلة - al Wasila 2022{% endblock %}
{% block content %}
<!-- Page Wrap -->
<div id="wrap">
  <div id="main-wrapper">
    {% include 'header.html' %}
    <!--======= SUB BANNER =========-->
   <section class="sub-banner">
      <div class="container">
        <div class="position-center-center">
          <h2>Каталог продукции</h2>
        </div>
      </div>
    </section>

     <!--======= PORTFOLIO =========-->
    <section class="sectoion-100px portfolio">
      <div class="container">
        <ul class="port-folio-row no-margin-t folio-simple row col-3">

          <!-- Project 1 -->
          <li class="item padding-15">
            <a href="#"> <img src="{% static 'images/port-img-1.jpg' %}" alt="">
              <!-- Hover Info -->
            </a>
            <h6>Название продукта</h6>
          </li>
            <li class="item padding-15">
            <a href="#"> <img src="{% static 'images/port-img-1.jpg' %}" alt="">
              <!-- Hover Info -->
            </a>
            <h6>Название продукта</h6>
          </li>
            <li class="item padding-15">
            <a href="#"> <img src="{% static 'images/port-img-1.jpg' %}" alt="">
              <!-- Hover Info -->
            </a>
            <h6>Название продукта</h6>
          </li>
            <li class="item padding-15">
            <a href="#"> <img src="{% static 'images/port-img-1.jpg' %}" alt="">
              <!-- Hover Info -->
            </a>
            <h6>Название продукта</h6>
          </li>
            <li class="item padding-15">
            <a href="#"> <img src="{% static 'images/port-img-1.jpg' %}" alt="">
              <!-- Hover Info -->
            </a>
            <h6>Название продукта</h6>
          </li>
            <li class="item padding-15">
            <a href="#"> <img src="{% static 'images/port-img-1.jpg' %}" alt="">
              <!-- Hover Info -->
            </a>
            <h6>Название продукта</h6>
          </li>
            <li class="item padding-15">
            <a href="#"> <img src="{% static 'images/port-img-1.jpg' %}" alt="">
              <!-- Hover Info -->
            </a>
            <h6>Название продукта</h6>
          </li>

        </ul>


        <div class="text-center">
            <a href="portfolio-2.html#." class="btn"> see more works</a>
        </div>
      </div>
    </section>

    <!--======= FOOTER UP =========-->
    {% include 'footer.html' %}
  </div>
</div>
<!-- Wrap End -->
{% endblock %}