{% load static %}
<section class="footer-up">
    <div class="col-sm-6">
        <div class="work"><i class="ion-map"></i>
            <p><span style="font-size: 12px">Республика Узбекистан Самаркандская область, Самаркандский район, село Рустам 1 дом 70</span>
            </p>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="contact">

            <!--======= Social Icon =========-->
            <ul class="social_icons">
                <li class="facebook"><a class="facebook" href="https://www.facebook.com/al.wasila.llc"><i
                        class="fa fa-facebook"></i></a></li>
                <li class="instagram"><a class="twitter" href="https://www.instagram.com/al_wasila_llc/"><i
                        class="fa fa-instagram"></i></a></li>
                <li class="linkedin"><a class="linkedin" href="https://www.linkedin.com/company/ooo-al-wasila-llc"><i
                        class="fa fa-linkedin"></i></a></li>
            </ul>
            <p>أل وسيلة - al Wasila 2022 ©</p>
        </div>
    </div>
</section>